.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto minmax(min-content, 1fr);
    grid-template-rows: auto minmax(min-content, 1fr) auto;
    
    height:100%;
    grid-template-areas:
    "header  header  header"
    "nav main main"
    "footer  footer  footer";
}

header{
    border-radius:5%;
    grid-area: header;
    background-color: orange;
    padding-left:5%;
    height: 100px;
}
nav{
    grid-area: nav;
    background-color: #C00000;
}
main{
    border-radius:5%;
    grid-area: main;
    position: relative;
    background-color: white;
    padding-left:5%;
    grid-template-columns:1000px;
    height:550px;
}
aside{
    padding-left:20px;
    grid-area: sidebar;
    background-color: red;
    border-radius:5%;
    width: 150px;
}
footer{
    grid-area: footer;
    background-color: lightgreen;
    height: auto;
}

.text{
    width:200px;
}

.ssubmit{
    background-color:steelblue;
    width:100px;

}