body{
    font-family: Verdana;
   
}


.sidebar {
    padding-left:20px;
    grid-area: sidebar;
    background-color: red;
    border-radius:5%;
    width: 150px;
}

.content {
    border-radius:5%;
    grid-area: content;
    position: relative;
    background-color: white;
    padding-left:5%;
    grid-template-columns:1000px;
    height:550px;
}

.header {
    border-radius:5%;
    grid-area: header;
    background-color: orange;
    padding-left:5%;
    grid-column: 1/span 3;
    grid-row: 1;
    height: 100px;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto minmax(min-content, 1fr);
    grid-template-rows: auto minmax(min-content, 1fr) auto;
    
    height:100%;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
    }
    
#h{
    color:white;
}

.text{
    width:200px;
}

.ssubmit{
    background-color:steelblue;
    width:100px;

}

input{
    width:300px;
}